<div style="margin-top: 2em;">
  <h5 style="margin-bottom: 1em; font-weight: bolder;">Let's veify your identity.</h5>
  <p>Identify verification helps protect our users, from theft, fraud and prevents abuse of KENULE Brokers platform.</p>
  <p>You can learn more about why this is important ont FAQS pa</p>
  <h5 style="margin-bottom: 1em; font-weight: bolder;">Verification Tips</h5>
  <ul>
    <li>You can only verify your identity using your international Passport, Driver's License or National ID document.</li>
    <li>Do not manipulate the image of your ID in any way.</li>
    <li>Make sure the ID is fully in the frame and all details are clearly readable.</li>
  </ul>
  <p>For further questions or concerns, feel free to contact KENULE Broker support</p>
  <div fxLayoutAlign="end">
    <button style="box-shadow: 9px 2px 8px rgba(0, 0, 0, 0.26);" class="btn btn-outline-primary">Begin Verification</button>
  </div>
</div>
