<div fxFlex fxLayout.lt-md="column" fxLayout.gt-xs="row">
  <div style="padding: 1em" fxFlex.gt-xs="50%" fxFlex.xs="100%">
    <p style="color: rgb(104, 104, 173);">Learn</p>
    <h4>About us</h4>
    <p>
      Kenule Trading and Capital Investment Limited is a world class Forex Training and Capital Investment Company,
       established with the vision of impacting the general populace with  the knowledge of trading Forex and creating
       platforms that will bring about sustainable financial freedom.
    </p>
    <p>
      With over 10 thousand active investors, more than 10 business locations in Nigeria and our new offices in the
      United Arab Emirates (UAE) and the United Kingdom (UK)we are determined to provide an all-encompassing investment
      service to our clients that accommodate their various needs.
    </p>
    <button class="btn btn-primary">Read More</button>
  </div>
  <div style="padding-left: 1em" fxFlex.gt-xs="50%" fxLayoutAlign="center"  fxLayout="column" fxFlex.xs="100%">
    <img src="https://www.mbatrades.com/assets/images/blog-img5.jpg?cache=sdsdsddd" id="img1">
    <img src="https://www.mbatrades.com/assets/images/about-img2.jpg?cache=sdsdsddd" id="img2">
  </div>
</div>
