<div fxLayout.gt-sm="row" fxLayout.lt.md="column">
 <div style="padding-left: 3.5em;" fxFlex.gt-sm="50%">
  <p>Don't Miss Our App</p>
  <h1>Mobile Application for Faster Access.</h1>
  <p>We have crafted a mobile app to ease the access to your dashboard.</p>
  <h4>Download App From</h4>
  <div fxLayout="row" fxLayoutGap="2em">
    <button class="btn">Apple Store</button>
    <button class="btn">Play Store</button>
  </div>
 </div>
 <div fxFlex.gt-sm="50%" fxLayoutAlign="center">
   <img src="https://www.mbatrades.com/assets/images/mobile-app.png">
   <!-- <div class="img-thumbnail"><img src="assets/images/mobile-app.png"></div> -->
 </div>
</div>
