<mat-card style="padding-right: .5em; box-shadow: 9px 2px 8px rgba(0, 0, 0, 0.26);">
  <mat-tab-group mat-align-tabs="center" fxLayoutAlign="space-around" fxLayout="column">
    <mat-tab label="Change Password">
       <app-change-password></app-change-password>
    </mat-tab>
    <mat-tab label="2FA Settings">
      <app-two-fa-settings></app-two-fa-settings>
    </mat-tab>
    <mat-tab label="Verification">
      <app-verification></app-verification>
    </mat-tab>
  </mat-tab-group>
</mat-card>

