<mat-nav-list >
 <div >
  <a mat-list-item routerLink="/" (click)="onClose()">
    <div style="margin-right: 1em; color: rgb(134, 134, 214)" class="fa fa-home"></div>
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/about-us" (click)="onClose()">
      <div style="margin-right: 1em; color: rgb(134, 134, 214)" class="fa fa-people-carry"></div>
      <span class="nav-caption">About-US</span>
  </a>
  <a mat-list-item routerLink="/team" (click)="onClose()">
      <div style="margin-right: 1em; color: rgb(134, 134, 214)" class="fa fa-sitemap"></div>
      <span class="nav-caption">Team</span>
  </a>
  <a mat-list-item routerLink="/events" (click)="onClose()">
    <div style="margin-right: 1.5em; color: rgb(134, 134, 214)" class="fa fa-map-marker-alt"></div>
      <span class="nav-caption">Events</span>
  </a>
  <a mat-list-item routerLink="/packages" (click)="onClose()">
    <div style="margin-right: 1em; color: rgb(134, 134, 214)" class="fa fa-boxes"></div>
    <span class="nav-caption">Packages</span>
  </a>
  <a mat-list-item routerLink="/signin" (click)="onClose()">
    <div style="margin-right: 1em; color: rgb(134, 134, 214)" class="fa fa-sign-in-alt"></div>
    <span class="nav-caption">Signin</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="onClose()">
    <div style="margin-right: 1em; color: rgb(134, 134, 214)" class="fa fa-sign-out-alt"></div>
    <span class="nav-caption">Signout</span>
  </a>
 </div>

</mat-nav-list>
