<div style="margin-top: 2em; box-shadow: 9px 2px 8px rgba(0, 0, 0, 0.26);">
  <form fxLayout="column" >
    <mat-form-field style="width: 15em; margin-top: 1em">
      <input matInput type="password" name="currentPass" placeholder="Current Password">
    </mat-form-field>
    <mat-form-field style="width: 15em;">
      <input matInput type="password" name="newPass" placeholder="New Password">
    </mat-form-field>
    <mat-form-field style="width: 15em;">
      <input matInput type="password" placeholder="Retype New Password">
    </mat-form-field>
  </form>
  <div fxLayoutAlign="end" style="padding: 1em;">
    <button style="box-shadow: 9px 2px 8px rgba(0, 0, 0, 0.26);" class="btn btn-outline-primary" >Submit</button>
  </div>
</div>
