/* .fa .fa-bitcoin {
height: 2em;
} */
mat-card {
  height: 20em;
  width: 18em;
  box-shadow: rgb(0, 183, 255);
  /* box-shadow: 10px 10px 5px #740909; */
  box-shadow: 9px 2px 8px rgba(0, 0, 0, 0.26);
  /* width: 18em; */
}
button {
  background-color: rgb(105, 37, 122);
}
/*
@media screen and (min-width: 660px) {
  mat-card {
    height: 19em;
    box-shadow: rgb(0, 183, 255);
    margin-bottom: 3em;
    width: 40em;
  }
} */
/* @media screen and (min-width: 480px) {
  .cardBox {
    padding:0 1em 0 1em;
  }
} */
