<div style="text-align: center; ">
  <div>
    <p>Affordable Packages</p>
    <h1>Choose Pricing Plan.</h1>
  </div>
  <div fxLayout.gt-sm="row" fxLayoutAlign="space-around" fxLayout.lt-md="column" style="padding: 1em;" fxLayoutAlign.sm="center center">
    <mat-card style="margin-top:1em; box-shadow: 9px 2px 8px rgba(0, 0, 0, 0.26);">
      <p>$ 1000 - $ 13888</p>
      <hr>
      <p>₦360,000 - ₦4,999,999</p>
      <hr>
      <h1>15% / Month</h1>
      <button class="btn" fxFlexAlign="end" (click)="navigate()">Invest Now</button>
    </mat-card>
    <mat-card style="margin-top:1em; box-shadow: 9px 2px 8px rgba(0, 0, 0, 0.26);">
      <p>$ 13889 - $ 136111</p>
      <hr>
      <p>₦5,000,000 - ₦49,000,000</p>
      <hr>
      <h1>10% / Month</h1>
      <button class="btn" (click)="navigate()">Invest Now</button>
    </mat-card>
    <mat-card style="margin-top:1em; box-shadow: 9px 2px 8px rgba(0, 0, 0, 0.26);">
      <p>$ 138,889 - $ 276,514.60</p>
      <hr>
      <p>₦50M - ₦100M</p>
      <hr>
      <h1>5% /  Month</h1>
      <button class="btn" (click)="navigate()">Invest Now</button>
    </mat-card>
  </div>
</div>
