p {
  color: rgb(92, 130, 165);
}
h1 {
  font-size: 3em;
  color: rgb(92, 130, 165);
}
.btn {
  background-color:rgb(105, 37, 122);
  color: white;
  margin-top: 4em;
}

hr {
  background-color: rgb(92, 130, 165);
}
mat-card {
  height: 20em;
  /* width: 18em; */
}
