<mat-card style="box-shadow: 9px 2px 8px rgba(0, 0, 0, 0.26);">
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <p >My Investment</p>
    <form >
      <mat-form-field style="width: 7em;">
        <mat-select>
          <mat-option value="all">all</mat-option>
          <mat-option value="byDate">date</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div  fxLayoutAlign="center">
   <div style="text-align: center;">
    <h6>You have no Investments</h6>
   <p style="color: cornflowerblue;">Invest  Preferred account</p>
   </div>
  </div>
</mat-card>
