<!--  <div  id="circle1" fxLayoutAlign=" center end" fxLayout="row">
  <div id="circle2" ></div>
</div> -->
<!----
<div fxLayout="column" style="text-align: center;">
  <p>Our Team Member</p>
  <h4>
    Meet Our Awesome
    Forex and administrative Experts.
  </h4>
  <div fxLayout.gt-xs="row"  fxLayoutAlign="space-around" fxLayout.xs="column" style="padding: 0 1em 0 1.6em;">
    <div>
      <div class="img-thumbnail" style="margin-top: 1em;"><img src="assets/images/team1.jpg"></div>
      <h5>Maxwell Weli Odum</h5>
      <p>CEO/MD</p>
    </div>
    <div>
      <div class="img-thumbnail" style="margin-top: 1em;"><img src="assets/images/team2.jpg"></div>
      <h5 >Peters Ede</h5>
      <p >Chief Operations Officer</p>
    </div>

  </div>
  <div fxLayout.gt-xs="row" fxLayoutAlign="space-around" fxLayout.xs="column" style="padding: 0 1em 0 1.6em;">
    <div>
      <div class="img-thumbnail" style="margin-top: 1em;"><img src="assets/images/team6.jpg"></div>
      <h5>Daniel Christopher</h5>
      <p>Director Of Investment</p>
    </div>
    <div>
      <div class="img-thumbnail" style="margin-top: 1em;"><img src="assets/images/team5.jpg"></div>
      <h5>Lucky Ogwuche</h5>
      <p>Director Of Trading</p>
    </div>
    <div>
      <div class="img-thumbnail" style="margin-top: 1em;"><img src="assets/images/team3.jpg"></div>
      <h5>Vodina West</h5>
      <p>Director Branding And Tourism</p>
    </div>
  </div>
</div> -->

<div fxLayout="column" style="text-align: center;">
  <p>Our Team Member</p>
  <h4>
    Meet Our Awesome
    Forex and administrative Experts.
  </h4>
  <div fxLayout.gt-xs="row"  fxLayoutAlign="center" fxLayoutGap="5em" fxLayout.xs="column">
    <div fxLayoutAlign="space-around">
      <div>
        <div class="img-thumbnail" style="margin-top: 1em;"><img src="https://www.mbatrades.com/assets/images/team1.jpg"></div>
        <h5>Maxwell Weli Odum</h5>
        <p>CEO/MD</p>
      </div>
    </div>
    <div  fxLayoutAlign="space-around">
      <div>
        <div class="img-thumbnail" style="margin-top: 1em;"><img src="https://www.mbatrades.com/assets/images/team2.jpg?hh01212hh"></div>
        <h5 >Peters Ede</h5>
        <p >Chief Operations Officer</p>
      </div>
    </div>

  </div>
  <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="3em">
    <div fxLayout.gt-xs="row" fxLayoutAlign="space-around"  fxLayout.xs="column" fxLayoutGap="3em">
      <div fxLayoutAlign="space-around">
        <div >
          <div class="img-thumbnail" style="margin-top: 1em;"><img src="https://www.mbatrades.com/assets/images/team6.jpg"></div>
          <h5>Daniel Christopher</h5>
          <p>Director Of Investment</p>
        </div>
      </div>
      <div  fxLayoutAlign="space-around">
        <div >
          <div class="img-thumbnail" style="margin-top: 1em;" ><img  src="https://www.mbatrades.com/assets/images/team5.jpg?nn"></div>
          <h5>Lucky Ogwuche</h5>
          <p>Director Of Trading</p>
        </div>
      </div>
    </div>

    <div  fxLayoutAlign="space-around">
      <div>
        <div class="img-thumbnail" style="margin-top: 1em;"><img src="https://www.mbatrades.com/assets/images/team3.jpg"></div>
        <h5>Vodina West</h5>
        <p>Director Branding And Tourism</p>
      </div>
    </div>
  </div>
</div>
