<div  fxLayout="column"  style="margin-top: 7em;" id="top" #top>
  <div fxLayout.lt-sm="column" fxLayout.gt-sm="row" class="intro">
    <div fxFlex=" 50%" fxFlex.xs="100%" class="intro1" fxFlex>
     <div class="animated slideInLeft">
      <h1>A Secure And Easy Way To Invest In Forex.</h1>
      <p class="animated slideInLeft slower">At Kenule Broker Trading and Capital Investment Institute we show you how to trade</p>
      <p class="animated slideInLeft slower">smartly & start earning Big from beginner to expert level.</p>
     </div>
     <button id="btn" class="btn btn-primary animated bounce" (click)="navigate()">Get Smart Now</button>
    </div>
    <div class="intro2 " fxFlex.gt-xs="50%" fxFlex.xs="100%" >
      <div class="animated bounce slower"><img src="https://www.mbatrades.com/assets/images/v2.png" fxFlex></div>
    </div>
   </div>
   <div id="wallet">
     <app-wallet></app-wallet>
   </div>
   <div id="aboutUs">
     <app-about-us></app-about-us>
   </div>
   <div id="reasons">
    <app-reasons></app-reasons>
   </div>
   <div id="team">
     <app-team></app-team>
   </div>
   <div id="price">
     <app-price></app-price>
   </div>
   <div id="access">
     <app-access></app-access>
   </div>
   <div id="subscribe">
     <app-subscribe></app-subscribe>
   </div>
</div>
